@import "tailwindcss";
 
 


:root {
  /* پس‌زمینه گرم و بسیار ملایم کل صفحات */
  --background: #F8FAFC; 
  
  /* رنگ‌های متن اصلی و ثانویه */
  --text-main: #0A2540;     /* سرمه‌ای تیره و عمیق */
  --text-muted: #627D98;    /* خاکستری-آبی نرم */
  
  /* رنگ‌های برند و اصلی */
  --primary: #0B3C5D;       /* آبی گرم و پرمیوم */
  --primary-hover: #07263D; /* سرمه‌ای تیره برای هاور */
  --accent: #E25B45;        /* مرجانی/آجری گرم برای تخفیف‌ها و جلب توجه */
  
  /* حاشیه‌ها و خطوط جداکننده */
  --border-light: #E2E8F0;  /* مرزهای ظریف */
  --border-hover: #90CDF4;  /* مرز هاور */
}

body {
  background-color: var(--background);
  color: var(--text-main);
  font-family: inherit; /* یا فونت فارسی خودتان مثل IRANSans, Vazirmatn */
}